<div class="container">
  <div class="text-center">
    <h1>Index des noms e domaiens en cours</h1>
    <%@ndd_transfered_status.each do |ndd|%>
    <ul>
      <li>
        <%=ndd.name%>
        <form action="/gandi_api/show" method="get" id="msform">
            <input type="hidden" value = <%=ndd.name%> name="ndd_in_process" placeholder="exemple.fr" class="form-control form-margin">
            <input type="submit" value = "Voir", class = "next action-button">
        </form>
      </li>
    </ul>
    <%end%>
  </div>
</div>

