<div class="wrapper text-center bla">
  <div class="container">
    <h1 class="test-color">Bienvenue!</h1>
    <p>Quel Nom de domaine voulez vous déverouiller?</p>
    <% if flash[:alert] %>
        <div class="notice"><%= flash[:alert] %></div>
      <% end %>
    <form action="/pages/:id" method="get">
      <input type="text" name="ndd" placeholder="exemple.fr">
      <input type="submit" value = "Valider", class = "">
    </form>
    <p>Voulez-vous voir à quelle étape sont les derniers transferts de nom de domaine ? </p>
    <form action="/gandi_api/index" method="get">
      <input type="submit" value = "Voir", class = "">
    </form>
  </div>
</div>
