<div class="wrapper text-center">
  <div class="container">
    <h1 class="fs-title">Bienvenue !</h1>
    <% if flash[:alert] %>
        <div class="notice alert alert-danger role="alert""><%= flash[:alert] %></div>
      <% end %>

      <!--Form to unlock the domain name-->

    <form action="/pages/:id" method="get" id="msform">
      <fieldset>
        <p class="fs-subtitle">Entrez un nom de domaine à déverouiller</p>
        <input type="text" name="ndd" placeholder="exemple.fr" class="form-control form-margin">
        <input type="submit" value = "Valider", class = "next action-button">
      </fieldset>
    </form>

    <!--Form to show where are the differents transfert steps-->
    <div class="margin-40-top">
      <form action="/gandi_api/index" method="get" id="msform">
       <fieldset>
          <p class="fs-subtitle">Etape des derniers transferts de noms de domaines d'OVH à Gandi</p>
          <input type="submit" value = "Voir", class = "next action-button">
        </fieldset>
      </form>
    </div>

    <div class="margin-40-top">
      <form action="expire" method="get" id="msform">
       <fieldset>
        <p class="fs-subtitle">Voir les NDD qui expirent dans un mois et moins sur OVH</p>
        <input type="submit" value = "Voir", class = "next action-button", data-toggle="tooltip" data-placement="right" title="ATTENTION: l'action met plusieurs minutes à s'exécuter. Profites-en pour faire une bonne pause ; )">
        </fieldset>
      </form>
    </div>
  </div>
</div>



<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
