// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ {

.wrapper{
  background-size: cover !important;
  background-color: #594080;
  height: 100%;
  width: 100%;
  height: 100vh;
}
